*{
	margin: 0 auto;
}

.container {
	width: 150px;
	height: 300px;
	border: 10px groove #4F3A27;
	margin-top: 150px;
	overflow: hidden;
	position: relative;
	border-radius: 10px;
	animation-name: container;
	animation-duration: 7s;
	animation-iteration-count: infinite;
}

.glass1 {
	width: 100px;
	height: 150px;
	border: 1px solid #95A6B0;
	border-radius: 25% 25% 48% 48%;
	background-image: radial-gradient(#FFFFFF, #ECF3FB);
	overflow: hidden;
}

.glass2 {
	width: 100px;
	height: 150px;
	border: 1px solid #95A6B0;
	border-radius: 48% 48% 25% 25%;
	background-image: radial-gradient(#FFFFFF, #ECF3FB);
	overflow: hidden;
}

.avaz1 {
	width: 100px;
	height: 70px;
	background-color: #C2A16E;
	position: relative;
	top: 80px;
	animation-name: avaz1;
	animation-duration: 7s;
	animation-iteration-count: infinite;
}

.gits {
	width: 1px;
	height: 220px;
	border-right: 4px dotted #C2A16E;
	position: absolute;
	left: 72px;
	top: 82px;
	animation-name: gits;
	animation-duration: 7s;
	animation-iteration-count: infinite;
}

.avaz2 {
	width: 100px;
	height: 100px;
	position: relative;
	background-color: #C2A16E;
	transform: rotate(45deg);
	top: 165px;
	border-radius: 12px;
	animation-name: avaz2;
	animation-duration: 7s;
	animation-iteration-count: infinite;
}


@keyframes container {
	0% {
		transform: rotate(0deg);
	}
	80% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(180deg);
	}
}

@keyframes avaz1 {
	0% {
		top: 80px;
	}
	80% {
		top: 150px;
	}
	100% {
		top: 150px;
	}
}

@keyframes avaz2 {
	0% {
		top: 165px;
	}
	80% {
		top: 80px;
	}
	100% {
		top: 80px;
	}

}

@keyframes gits {
	0% {
		top: 82px;
	}

	80% {
		top: 150px;
	}
	100% {
		top: 150px;
	}
}

